*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    /*linear-gradient : 그라데이션주기*/
    background: linear-gradient(to bottom, #E6E6FA 0%, #FFF0F5);
    
}
.wrapper{
    margin: 120px auto;
    max-width: 300px;
    min-height: 300px;
    width: 100%;
    background: wheat;
    padding: 25px;
    border-radius: 6px;
}
.wrapper header{
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 15px;
    text-align: center;
    font-family: 'Koulen', cursive;
}

/*.wrapper안에 있는 것을 부를때(태그 설정 방법은 무궁무진)*/
.wrapper .inputField{
    display: flex;  
    margin: 5px auto 20px ; 
    height: 45px;
    width: 200px;
    font-family:'Hi Melody', cursive;
}
.xi-plus{ /* +버튼 굵기지정  */
    font-weight: bold;
    color: wheat;
}
.inputField input{
    color: black;
    padding-left: 15px;
    width: 200px;
    height: 100%;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    outline: none;  /*inputbox 클릭시 테두리 안보이게*/
}
.inputField button{
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 3px;
    background: rgb(6, 6, 6);
    /* background: rgb(249, 233, 143); */
    cursor: pointer;
}
.wrapper .Todolist{
    display: flex;
}
.Todolist li{
    width: 250px;
    list-style: none;
    line-height: 40px; /*수직 가운데 정렬 : 보통 height랑 같은 숫자를 쓴다*/
    position: relative;
    margin-bottom: 9px;
    text-indent: 15px; /*들여쓰기*/
    background: rgb(241, 242, 241);
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
}
.wrapper .footer{
    font-weight: 600;
    text-indent: 15px;
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 30px;
}
.footer button{
    color: wheat;
    cursor: pointer;
    font-size: 10px;
    font-weight: 900;
    padding: 6px 10px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 9px;
    background: rgb(6, 6, 6);
}
.footer button:hover{
    color : rgb(6, 6, 6);
    background-color: white;
}
